/* 102-media_query.scss */

/* Default font size for h1 tags */
h1 {
  font-size: 20px;
}

/* Media query for screens with a width smaller than 960px */
@media screen and (max-width: 960px) {
  h1 {
    font-size: 18px;
  }
}

/* Media query for screens with a width smaller than 640px */
@media screen and (max-width: 640px) {
  h1 {
    font-size: 16px;
  }
}

/* Media query for screens with a width smaller than 320px */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 14px;
  }

  /* Apply text color to h1.small elements when the screen width is smaller than 320px */
  h1.small {
    color: #1D1D1D;
  }
}
